@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Lao:wght@400;700&display=swap");
* {
  font-family: "Noto Sans Lao", sans-serif;
}

//color
$yellow: #ffcf3f;
$yellow-l: #f6e6b7;
$gray: #e4e4e4;
$dark-gray: #a5a5a5;
$red: #d53333;
$blue: #2ba6ff;
$green: #81ff70;